body {
background: coral;
font-family: Times New Roman, Helvetica, serif;
}
h1 {
color: navy;
text-align: center;
}

.about{
font-family: Times New Roman, Helvetica, serif;
color: navy;

}

.skills{
font-family: Times New Roman, Helvetica, serif;
color: navy;
}

.contact{
font-family: Times New Roman, Helvetica, serif;
color: navy;
}

.projects { display:flex; flex-wrap:wrap; }/* condensed to save space */
display:flex;
flex-wrap:wrap;
font-family: Times New Roman, Helvetica, serif;
color: navy;
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: white; /* pick a color */
border-radius: 25%;
}

.project img{
width: 300px;
height: 300px;
margin: 10px;
border: 2px solid rgb(126, 14, 201); /* choose a color */
display: block;
margin: auto;
}

a { /* change the appearance of ALL links */
text-decoration: none;
color: purple;
}
.project p { /* change the appearance of paragraph tags inside .project divs */
text-align: center;
margin: 15px;
}

.section {
  margin-bottom: 20px; /* adds space between GPA and Experience */
}

.section-content ul {
  margin-top: 5px; /* reduces the gap before bullet points */
  margin-bottom: 0; /* optional: removes extra space after list */
}
