body {
background: coral;
font-family: Times New Roman, Helvetica, serif;
}
h1 {
color: navy;
text-align: center;
}

.about{
font-family: Times New Roman, Helvetica, serif;
color: navy;

}

.skills{
font-family: Times New Roman, Helvetica, serif;
color: navy;
}

.projects{
font-family: Times New Roman, Helvetica, serif;
color: navy;
}

.contact{
font-family: Times New Roman, Helvetica, serif;
color: navy;
}

