body {
background: coral;
font-family: Times New Roman, Helvetica, serif;
}
h1 {
color: navy;
text-align: center;
}

.about{
font-family: Times New Roman, Helvetica, serif;
color: navy;

}

.skills{
font-family: Times New Roman, Helvetica, serif;
color: navy;
}

.contact{
font-family: Times New Roman, Helvetica, serif;
color: navy;
}

.projects { display:flex; flex-wrap:wrap; }/* condensed to save space */
display:flex;
flex-wrap:wrap;
font-family: Times New Roman, Helvetica, serif;
color: navy;
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: white; /* pick a color */
border-radius: 25%;
}